<div class="row justify-content-center mt-2">
  <div class="col-5 mt-2">

    <table class="table table-striped table-bordered table-hover">
      <thead class="thead thead-light">
        <tr>
          <th *ngFor="let header of headers">
            <p>{{csvLoaded ? header.value : ''}}</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td *ngFor="let col of headers; let j = index" class="tableCell">
            <div [ngClass]="{'tableContent': true, 'dimmed': dimmedRows[i]}">{{(csvLoaded && i < displayCsvData.length) ? displayCsvData[i][j].value : ''}}</div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input accept=".csv" (change)="fileChangeListener($event)" class="form-control-file"type="file">
          </td>
          <td colspan="2">
            <div *ngIf="csvLoaded" class="d-flex justify-content-end">
              <label for="issueCount" class="mr-3">View minimum of</label>
              <select (change)="onChangeIssueCount($event.target.value)" name="issueCount">
                <option value="" disabled>all</option>
                <option *ngFor="let count of availableIssueCounts" value={{count}}>{{count}}</option>
              </select>
              <span class="ml-3">issues</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
 
  </div>
</div>
